# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\MCStudioDownload\work\settingdust@163.com\Cpp\AddOn\ee159bbbf0504c7bbfcac5cf95687670\behavior_pack_qvn1jas8\scripts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
